* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    background: #F5F5F5;
}

main {
    width: calc(100% - 200px);
    float: left;
}

nav {
    float: left;
    display: block;
    background-color: #333;
    width: 200px;
    height: 100vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

}

nav h1 {
    float: left;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: #666;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}

li a {
    padding: 10px;
    color: #FFF;
    text-decoration: none;

}

li {
    padding: 10px;

}

nav ul li i {
    color: #FFF;
}


form .grupo {
    float: left;
    margin: 10px;
    width: calc(25% - 20px);
}

form .grupo .campo-medio {
    margin: 10px;
    padding: 4px;
    display: inline-block;
    padding-right: 5px;
    width: calc(100% - 20px);
}

form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    display: block;

}

form label {
    position: relative;
    left: 10px;
}


.mychart {
    width: 800px;
}

@media print{
    nav{
        display: none !important; 
    }
  }

  #print{
    position: relative;
    left: 990px;
    top: 30px;
  }

